html, body, .container-fluid {
    height: 100%;
    overflow: hidden;
}
.row {
    height:100%;
}

.sidebar{
    border-right:1px solid rgba(0,0,0,0.15);
    height:100%;
    max-height: 100%;
    overflow-y: scroll;
}

.form-group {
    margin-right: 2rem;
}
.daterange {
    padding-top:1rem;
}

.ul-subject {
    padding-left:0.5em;
    list-style: none;
}

.ul-subject > li {
    padding:0.5em;
    transition:0.3s;
}

.ul-subject > li:hover, .ul-subject > li.active {
    background: rgba(0,0,0,0.15);
}

.li-ds {

}

.li-ds-date {
    font-size:10px;
}

.li-ds-nbpoints {
    font-style: italic;
    font-size:10px;
}

.ul-subject-title {
    width: 75%;
    font-style: italic;
    border-bottom: 1px solid #171a1d;
    text-align: left;
    text-indent: 0.25em;
    margin-bottom: 0;
    display: block;
}


.loader-capteur, .loader-service {
    display: none;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin:0 auto;
}

.loader-map {
    display: inline-block;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.loader-map-wrapper {
    position: absolute;
    z-index: 999;
    background: rgba(0,0,0,0.25);
    height: 600px;
    display: none;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}